add.png
commit.png
diff.png
git.png
init.png
log.png
status.png
branch.png
git_branch.png
git_branch_-d_branch_name.png
git_branch_branch_name.png
git_checkout_branch_name.png
git_log_--graph.png
git_merge.png
images.png